.container {
    box-sizing: border-box;

    font-weight: bold;
    font-size: 1rem;
    color: white;

    background: linear-gradient(45deg,
            var(--color-primary),
            var(--color-secondary));

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

    border: 0;
    border-radius: 5px;
    padding: 1rem 2rem;
    cursor: pointer;

}

.container[data-disabled="false"] {
    opacity: 1;
    filter: brightness(1);
}

.container[data-disabled="true"] {
    opacity: 0.8;
    filter: brightness(0.5);
    cursor: not-allowed;
}