.container {
    box-sizing: border-box;

    width: 100vw;
    height: 100vh;

    background: radial-gradient(#242449, black);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 10rem;
    height: 10rem;
    display: block;
    box-sizing: border-box;
    filter: drop-shadow(1px 1px 50px rgba(255, 255, 255, 0.5));
    margin-bottom: 3rem;
}

.text,
.name {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.text {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.name {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 3rem;
}