.container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: black;
}

.row,
.col {
    box-sizing: border-box;
    display: flex;
}

.row {
    flex-direction: row;
    gap: 0;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.col {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.col:nth-child(1) {
    height: 20%;
}

.col:nth-child(2) {
    height: 80%;
}