.row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.col {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.col:nth-child(1) {
    max-width: 10%;
    padding-right: 1rem;
}

.col:nth-child(1),
.col:nth-child(3) {
    width: auto;
}

.col:nth-child(2) {
    width: 100%;
    padding: 0 1rem;
}

.logo {
    height: 100%;
    width: auto;
}

.pill {
    margin-right: 1rem;
}
