.container {
    box-sizing: border-box;
    width: fit-content !important;
}

.clock {
    color: white;
    font-weight: 900;
    font-size: 3rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}