@font-face {
    font-family: "Open Sans";
    src: url(./assets/fonts/open_sans/OpenSans-VariableFont.ttf);
}
:root {
    --color-primary: rgb(146, 136, 219);
    --color-secondary: rgb(70, 130, 180);

    --color-primary-transparent: rgba(146, 136, 219, 0.7);
    --color-secondary-transparent: rgba(70, 130, 180, 0.7);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
body,
button {
    font-family: "Open Sans", sans-serif !important;
} 