.container {
    box-sizing: border-box;

    width: 100%;
    height: 100%;
}

.gamepadLayout > div {
    padding: 0 !important;
}

.gamepadLayout > div > div {
    padding: 0 0.5rem 0 0 !important;
}